body{
    height: 500vh;
    margin: 0;

}

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

svg {
    display: inline-block;
    height: 100%;
}

section {
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Garamond';
    font-size: 4em;
}

.one {
    background: url('../one.jpg');
    background-size: cover;
}

.two {
    font-size: 6rem;
    position: relative;
    overflow: hidden;
}

p {
    position: absolute;
    z-index: -1;
    color: aliceblue;
    top: 10%;
    left: 20%;
    white-space: nowrap;
    font-size: 30rem;
}